<div class="container">
    <div>
        <h2>Ajouter un Voyage :</h2>
    </div>
    <form>
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Voyage</label>
            <input type="text" [(ngModel)]="newVoyage.idVoyage" name="idVoyage" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Voyage</label>
            <input type="text" [(ngModel)]="newVoyage.nomVoyage" name="nomVoyage" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Voyage</label>
            <input type="number" [(ngModel)]="newVoyage.prixVoyage" name="Prix Voyage" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date Voyage</label>
            <input type="date" [(ngModel)]="newVoyage.dateVoyage" name="Date Voyage" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Classe</label>
            <select class="form-control form-control-lg" id="idCl" name="idCl" [(ngModel)]="newIdCl">
                <option *ngFor="let cl of classes" [value]="cl.idCl">
                    {{cl.nomCl}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addVoyage()" class="btn btn-success">Ajouter</button>
        </div>
        <div>
            <h3>{{message}}</h3>
        </div>
    </form>
</div>